<%# Copied from https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/collections/_media_display.html.erb
 by ubiquity inorder to hide default icon.
 UbiquityPress replaced  'if presenter.thumbnail_path' with 'if presenter.thumbnail_id'
  see
  %>

<% if presenter.thumbnail_id %>
   <%= render 'shared/ubiquity/thumbnail_icons_with_restrictions',  document: presenter.solr_document  %>
<% else %>
  <%# The line below is commented out by UbiquityPress%>
  <span class="<%# Hyrax::ModelIcon.css_class_for(Collection) %> collection-icon-search"></span>
<% end %>
