<%# Override from Hyrax engine to remove `render_thumbnail_tag` and customise front-end %>

<% presenter = featured.presenter %>
<% visibility = presenter.solr_document.visibility%>
<% if visibility == 'open' || visibility == 'lease'%>
  <li class="featured-item" data-id="<%= presenter.id %>">
    <%= render 'hyrax/homepage/featured_fields', featured: presenter %>
  </li>
<%end%>
