<%# Override from Hyrax engine to customise front-end %>
<!-- instance  of Hyrax::WorkShowPresenter: -->

<% featured_doc = featured.solr_document %>
<% file_set =  get_media_model( featured.thumbnail_id, request.host) %>
<% thumbnail = file_set_solr_doc(file_set) %>


<div class="featured-fields" >
  <%= link_to [main_app, featured] do %>
    <div class="featured-item-thumbnail">
      <%# if featured_doc.thumbnail_id && File.extname(featured_doc.thumbnail_path).blank? %>
      <% if featured.thumbnail_id && (zipped_types.include? check_for_zip(thumbnail.title.first) )  %>
        <span class="fa fa-file-archive-o fa-5x grey-zip-icon"></span>
      <% else %>
        <%= render_related_img(featured_doc) %>
      <% end %>
    </div>
    <div class="featured-item homepage-field-title">
      <%= featured.title.first %>
    </div>
  <% end %>
  <div class="featured-item">
    <%# link_to_facet_list(featured.creator_search, 'creator_search').html_safe %>
  </div>
</div>
