<%# Override from Hyrax engine to customise front-end %>

<% featured_doc = featured.solr_document %>

<div class="featured-fields" >
  <%= link_to [main_app, featured] do %>
    <div class="featured-item-thumbnail">
      <% if featured_doc.thumbnail_id && FileSet.find(featured_doc.thumbnail_id).format_label.first == 'ZIP Format' %>
        <span class="fa fa-file-archive-o fa-5x grey-zip-icon"></span>
      <% else %>
        <%= render_related_img(featured_doc) %>
      <% end %>
    </div>
    <div class="featured-item homepage-field-title">
      <%= featured.title.first %>
    </div>
  <% end %>
  <div class="featured-item">
    <%= link_to_facet_list(featured_doc['creator_search_tesim'], 'creator_search').html_safe %>
  </div>
</div>
