<!-- copied over from https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/homepage/_marketing.html.erb -->

<% if all_tenant_settings_keys.include? ubiquity_url_parser(request.original_url) %>

<% else %>
  <% if display_content_block? @marketing_text %>
    <div class="home_marketing_text">
      <%= displayable_content_block @marketing_text, class: 'col-sm-offset-2 col-sm-9 col-md-offset-1 home_marketing_text' %>
    </div>
  <% end %>
<% end %>
