.coveralls.yml
.fcrepo_wrapper
.rubocop.yml
.rubocop_todo.yml
.git
.gitignore
.idea
.travis.yml
LICENSE
.solr_wrapper
CONTRIBUTING.md
.ebextensions
.github
README.md
log
docker
fits.log
.hound.yml
.rspec
.scss-lint.yml
