

<tr>
 <th>editor</th>
   <% array_of_hash.each do |value| %>

      <td style="display:inline">
        <ul class="tabular">
          <li class="attribute editor">

            <span style="float:left"> <%= value %> - </span>

            </li>
          </ul>
        </td>

      <% end %>
</tr>
