
<% provide :page_header do %>
  <h1><span class="fa fa-user"></span> Account Settings</h1>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Account Email</th>
        <th>Actions</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td><b>Contact email:</b> <%= @account && @account.settings && @account.settings["contact_email"] %></td> <br>
        <td><%= link_to "Edit email & mailing lists", edit_admin_account_setting_path(@account), class: "btn btn-xs btn-default" %></td>
      </tr>
    </tbody>
</table>
