<% label_name = t('hyrax.labels.doi')  %>
<% my_model_name = f.object.model.class.to_s.underscore %>

<label class="control-label" for="<%= my_model_name %>_doi">
  <%= label_name %>
</label>
<p class="help-block"><%= t('hyrax.hints.doi') %></p>

<%= text_field_tag "#{my_model_name}[doi]",f.object.model.doi, id: "#{my_model_name}_doi",
  class: "ubiquity-doi form-control string optional"%>
<br>
