
<% template = f.object.model.class.to_s.underscore %>
<% irb_status_service = IrbStatusService.new %>


<br>
<label class="control-label multi_value optional" for="#{template}_IrbStatus">Irb status</label>
<p class="help-block"></p>
<%= select_tag "#{template}[irb_status]",
      options_from_collection_for_select(irb_status_service.select_active_options.flatten.uniq!, :to_s, :to_s, f.object.model.irb_status),
        class: "ubiquity-autocomplete", include_blank: true, data: {placeholder: "Institutional Review Board status"}
%>
<br><br>
