
<h3 class="ubiquity-title-message" style="color:red; font-weight: 900;"> <a href="" class="ubiquity-title-message"></a></h3>

<%= f.input key,
            as: :text,
            input_html: {
              class: 'form-control ubiquity-title'
            },
            required: f.object.required?(key) %>


<%# button_to 'Check title availability', main_app.check_available_ubiquity_titles_path,
   class: "ubiquity-title-checker", data: { 'ubiquity-model' => "GenericWork" } %>

<script>
  $(document).on("turbolinks:load", function(){
    return $("body").on("click", ".ubiquity-title-checker", function(event) {
      event.preventDefault();
      var ubiquityModel = $(this).attr('data-ubiquity-model');
      var  ubiquityTitle = $(".ubiquity-title").val();

      //clicked = $(this).parent('div' + `${ubiquityTitle}`)
      checkTitle(ubiquityTitle, ubiquityModel);
    });
  });


  function checkTitle(ubiquityTitle, ubiquityModel){
    var host = window.location.host;
    var fullHost = 'http://' + host + '/available_ubiquity_titles/check';
    $.ajax({
      url: `${fullHost}`,
      type: "POST",
      data: {"title": ubiquityTitle, "model_class": ubiquityModel},
      success: function(result){
        $(".ubiquity-title-message").html(result.message);
      },
      error: function(){
      }
    })
  }

</script>
