<div class="col-xs-12">

    <div class="facet_pagination top">
  <div class="prev_next_links btn-group pull-left">

    <span class="disabled btn btn-disabled">« Previous</span>


    <span class="disabled btn  btn-disabled">Next »</span>
</div>

<div class="sort_options btn-group pull-right">
    <a class="sort_change az btn btn-default" data-ajax-modal="preserve" href="/catalog/facet/resource_type_sim?facet.sort=index&amp;locale=en&amp;q=&amp;search_field=all_fields">A-Z Sort</a>
    <span class="active numeric btn btn-default">Numerical Sort</span>
</div>

</div>

<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>

  <h3 class="modal-title">Resource type</h3>


</div>
<div class="modal-body">
  <div class="facet_extended_list">
  <ul class="facet-values list-unstyled">

  <li><span class="facet-label"><a class="facet_select" href="/catalog?f%5Bresource_type_sim%5D%5B%5D=Article+default+Journal+article&amp;locale=en&amp;q=&amp;search_field=all_fields">Journal article</a></span><span class="facet-count" style="width: 8px;">3</span></li>

<li><span class="facet-label"><a class="facet_select" href="/catalog?f%5Bresource_type_sim%5D%5B%5D=Collection+3D+image&amp;locale=en&amp;q=&amp;search_field=all_fields">3D image</a></span><span class="facet-count">1</span></li>

<li><span class="facet-label"><a class="facet_select" href="/catalog?f%5Bresource_type_sim%5D%5B%5D=ConferenceItem+default+Conference+paper+%28unpublished%29&amp;locale=en&amp;q=&amp;search_field=all_fields">Conference paper (unpublished)</a></span><span class="facet-count">1</span></li>

</ul>

  </div>
</div>

<div class="modal-footer">

  <div class="facet_pagination bottom">
    <div class="prev_next_links btn-group pull-left">

    <span class="disabled btn btn-disabled">« Previous</span>


    <span class="disabled btn  btn-disabled">Next »</span>
</div>

<div class="sort_options btn-group pull-right">
    <a class="sort_change az btn btn-default" data-ajax-modal="preserve" href="/catalog/facet/resource_type_sim?facet.sort=index&amp;locale=en&amp;q=&amp;search_field=all_fields">A-Z Sort</a>
    <span class="active numeric btn btn-default">Numerical Sort</span>
</div>

  </div>
</div>

</div>
