<div class="container-fluid">
  <div class="row">
    <div class="searchbar-right navbar-right col-sm-7 col-md-8">
      <%= form_with url: '/shared_search', local: true, class: 'form-inline',  method: :get do |form| %>
          <div class="input-group">
            <%= form.text_field :term, class: "q form-control input-md", size: '80', placeholder: 'Search across all our repositories'%>
            <div class="input-group-btn">
              <button id="search-submit-header" class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                 Go
              </button>
            </div>
          </div><!-- /.input-group -->
      <% end %>
    </div>
  </div>
</div>
