
<% cookies.delete(:search_term) unless request.original_fullpath.include? 'shared_search' %>
<% cookies.delete(:facet) unless request.original_fullpath.include? 'shared_search' %>
<% cookies.delete(:sort) unless (request.original_fullpath.include? 'shared_search' || params['q'].present?) %>
<% cookies.delete(:per_page) unless (request.original_fullpath.include? 'shared_search' || params['q'].present?) %>

<% search_value = cookies[:search_term]  %>

<div class="container-fluid">
  <div class="row">
    <div class="searchbar-right navbar-right col-sm-7 col-md-8">
      <%= form_with url: '/shared_search', local: true, class: 'shared-search-form form-inline',  method: :get do |form| %>
          <div class="input-group">
            <%= form.text_field :q,  value: search_value, class: "q form-control input-md", size: '80', placeholder: 'Search across all our repositories' %>

            <%= hidden_field_tag :sort,  cookies[:sort] %>
            <%= hidden_field_tag :per_per_page, cookies[:per_page] %>
            <div class="input-group-btn">
              <button id="search-submit-header" class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                 Go
              </button>
            </div>
          </div><!-- /.input-group -->
      <% end %>
    </div>
  </div>
</div>
