<%= render "search_page_top", search_pagination: @search_pagination  %>
<br/>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-3"><!-- facet sidebar --> </div>
    <div  class="col-md-9">

<div id="search-results">
    <ol class="catalog" start="1">
        <li id="document_d7663210-27ad-496e-87c4-86970861bf66" class="document blacklight-article" itemscope="" itemtype="http://schema.org/CreativeWork">
            <h2>
              <a href="/concern/articles/d7663210-27ad-496e-87c4-86970861bf66?locale=en">Breathing life into digital collections at the British Library</a>
            </h2>
            <div class="list-thumbnail">
                <span class="fa fa-file-pdf-o fa-5x hidden-xs file_listing_thumbnail" style="color:grey;padding-left:60px"></span> <span style="padding-left:125px"></span>
            </div>
            <div class="metadata">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="search-meta-label"><span class="attribute-label h4">Creator:</span></th>
                            <td><span style="display:inline;float:left;">
  <span itemprop="creator" style="float:left;">
      Ridge, Mia<span>&nbsp;</span>
                                </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="search-meta-label"><span class="attribute-label h4">Date Published:</span></th>
                            <td>2018-11-11</td>
                        </tr>
                        <tr>
                            <th class="search-meta-label"><span class="attribute-label h4">Resource Type:</span></th>
                            <td>Journal article</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </li>
        <li id="document_7a337b5c-f692-4494-9e45-f10cacd9bd83" class="document blacklight-bookcontribution" itemscope="" itemtype="http://schema.org/CreativeWork">
            <h2>
    <a href="/concern/book_contributions/7a337b5c-f692-4494-9e45-f10cacd9bd83?locale=en">Tractarian theology in verse and sermon</a>
  </h2>
            <div class="list-thumbnail col-md-2">
                <span class=" collection-icon-search"></span>
            </div>
            <div class="metadata">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="search-meta-label"><span class="attribute-label h4">Creator:</span></th>
                            <td><span style="display:inline;float:left;">
  <span itemprop="creator" style="float:left;">
      Boneham, John<span>&nbsp;</span>
                                </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="search-meta-label"><span class="attribute-label h4">Date Published:</span></th>
                            <td>2017</td>
                        </tr>
                        <tr>
                            <th class="search-meta-label"><span class="attribute-label h4">Resource Type:</span></th>
                            <td>Book chapter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </li>
    </ol>
</div>
</div><!-- closes col-md-9 -->
</div><!-- closes col-md-3 -->
</div> <!-- closes row -->

<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <%= paginate @search_pagination %>
   </div>
</div>

</div> <!-- closes container -->
