
<%# Hyrax::ModelIcon.css_class_for(Collection) for adding font-awesome cube icon%>

<%= document.class %>
<% if document.thumbnail_id %>
  <div class="list-thumbnail">

    <% presenter = Hyku::ManifestEnabledWorkShowPresenter.new(document, current_ability) %>
    <% file_set_presenter = presenter.thumbnail_presenter %>

    <% if zipped_types.include? check_for_zip(file_set_presenter.solr_document.label) %>
      <span class="fa fa-file-archive-o fa-5x grey-zip-icon"></span>
    <% elsif (check_for_zip(file_set_presenter.solr_document.label) == ".pdf") && (document.thumbnail_path.split('?').last == "file=thumbnail")  %>
        <span class="fa fa-file-pdf-o fa-5x hidden-xs file_listing_thumbnail"></span> <span style="padding-left:125px"></span>
    <% elsif ((not file_set_presenter.solr_document.lease_expiration_date.present?) && (not file_set_presenter.solr_document.embargo_release_date.present?) ) %>
        <%= render_thumbnail_tag document, :style => "width:150px" %>
    <% else %>
      <%# displays for logged out user for files under embargo/lease %>
      <span class="<%# Hyrax::ModelIcon.css_class_for(Collection) %> collection-icon-search"></span>
    <% end %>
  </div>
<% else %>
  <div class="list-thumbnail col-md-2">
    <span class="<%# Hyrax::ModelIcon.css_class_for(Collection) %> collection-icon-search"></span>
  </div>
<% end %>
