<tr>
  <th>Alternate identifier</th>

  <% array_of_hash.each do |hash| %>

    <td style="display:inline">
      <ul class="tabular">
        <li class="attribute alternate_identifier">

          <span style="float:left"> <%= hash['alternate_identifier'] %> - </span>

          <span itemprop="name">
            <a href="<%= hash['alternate_identifier_type'] %>"  target="_blank" ></a>
          </span>
        </li>
      </ul>
    </td>

  <% end %>

</tr>