<tr>
  <th>Alternate identifier</th>

  <% array_of_hash.each do |hash| %>
    <td>
      <ul class="tabular">
        <li class="attribute alternate_identifier">
          <% if hash['alternate_identifier'] %>
            <%= hash['alternate_identifier'] %>,&nbsp;
          <% end %>
          <% if hash['alternate_identifier_type'] %>
            <%= hash['alternate_identifier_type'] %>
          <% end %>
        </li>
      </ul>
    </td>

  <% end %>

</tr>
