<tr>
 <th>Contributor</th>
 <% array_of_hash.each do |value| %>
  <td style="display:inline">
   <ul class="tabular">
     <li class="attribute Contributor">
       <%= value %>
     </li>
   </ul>
   </td>
 <% end %>
</tr>
