<% dropdown_list = check_for_setting('institutional_relationship').split(',') %>
<% label_name =  check_for_nested_setting('metadata_labels', 'institutional_relationship') || "#{metadata_field.capitalize} institutional relationship"  %>
<% property_hash = check_for_setting("required_json_property") %>
<% template = f.object.model.class.to_s.underscore %>

<p><label class="control-label multi_value optional" for="#{template}_#{metadata_field}_institutional_relationship">
<%= label_name %>  </label></p> <span class='error'> </span>

<% if check_for_setting("institutional_relationship_picklist") == "true"  %>

  <%= render 'shared/ubiquity/json_fields_partials/institutional_dropdown', property_hash: property_hash, template: template, metadata_field: metadata_field, dropdown_list: dropdown_list, hash: hash %>

<% else %>

  <%= render 'shared/ubiquity/json_fields_partials/institutional_text_field', property_hash: property_hash, template: template, metadata_field: metadata_field, hash: hash %>

<% end %>
