<% dropdown_list = tenant_work_settings["institutional_relationship"].split(',') %>
<% label_name = tenant_work_settings['metadata_labels']["institutional_relationship"].presence || "#{metadata_field.capitalize} institutional relationship"  %>
<% property_hash = extract_required_json_property_hash(tenant_work_settings, "required_json_property") %>


<p><label class="control-label multi_value optional" for="#{template}_#{metadata_field}_institutional_relationship">
<%= label_name %>  </label></p> <span class='error'> </span>

<% if property_hash && property_hash.keys.include?(template) && property_hash[template].include?("#{metadata_field}_institutional_relationship") %>
  <span class="label label-info required-tag">required</span>
  <%= select_tag "#{template}[#{metadata_field}_group][][#{metadata_field}_institutional_relationship][]",
   content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( dropdown_list,
    :to_s, :to_s,  hash.dig("#{metadata_field}_institutional_relationship")),
     multiple: true, class: "form-control ubiquity_#{metadata_field}_institutional_relationship", required: true %>

<% else %>

  <%= select_tag "#{template}[#{metadata_field}_group][][#{metadata_field}_institutional_relationship][]",
  content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( dropdown_list,
   :to_s, :to_s,  hash.dig("#{metadata_field}_institutional_relationship")),
    multiple: true, class: "form-control ubiquity_#{metadata_field}_institutional_relationship"  %>

<% end %>
