<label class="control-label multi_value optional" for="#{template}_#{metadata_field}_isni">
  <%= "#{metadata_field}".capitalize %> ISNI</label>

<%= text_field_tag "#{template}[#{metadata_field}_group][][#{metadata_field}_isni]", hash.dig("#{metadata_field}_isni"),
                   class: "#{template}_#{metadata_field}_group form-control multi-text-field multi_value ubiquity_#{metadata_field}_isni",
                   placeholder: "Please enter the #{metadata_field}\'s ISNI, e.g. 0000 1234 5678 9101.",
                   name: "#{template}[#{metadata_field}_group][][#{metadata_field}_isni]",
                   data: {field_name:"ubiquity_#{metadata_field}_isni"}

%>
