<!-- Modal -->
<!-- Rendered in app/views/hyrax/base/new.html.erb
                 app/views/admin/groups/edit.html.erb-->

<div id="doi-options-modal" class="modal fade modal-year-validation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Warning</h3>
      </div>
      <div class="modal-body" >
          <p id ='modal_message'></p>
      </div>
      <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="btn btn-primary" id = 'modal_button_save'>Continue</button>
      </div>
    </div>
  </div>
</div>
