
<% if request.original_url ==  'https://oar.bl.uk/' || request.original_url ==  'http://localhost:3000/' %>
  <h4 class="text-danger"> Search across all the repositories listed here </h4>
  <%= render 'ubiquity/shared_search/shared_search_form' %> <br/> <br/>
  <%= render 'bl_shared_layer' %>
<% else %>
<h4 class="text-danger"> Search across multiple repositories  </h4>

  <%= render 'ubiquity/shared_search/shared_search_form' %> <br/> </br>
  <%= render 'new_index' %>
<% end %>
