
<!-- used in
  app/views/hyrax/homepage/_recent_document.html.erb
  app/views/hyrax/homepage/_explore_collections.html.erb
-->

<% presenter = Hyku::ManifestEnabledWorkShowPresenter.new(document, current_ability) %>
<% file_set_presenter = presenter.thumbnail_presenter %>

<% if zipped_types.include? check_for_zip(file_set_presenter.solr_document.label) %>
  <span class="fa fa-file-archive-o fa-5x grey-zip-icon"></span>
<% elsif (check_for_zip(file_set_presenter.solr_document.label) == ".pdf") && (document.thumbnail_path.split('?').last == "file=thumbnail")  %>
  <span class="fa fa-file-pdf-o fa-5x hidden-xs file_listing_thumbnail"></span> <span style="padding-left:125px"></span>
<% elsif check_file_is_restricted?(document) %>
  <%= render_thumbnail_tag document %>
<% elsif ((not file_set_presenter.lease_expiration_date.present?) && (not file_set_presenter.embargo_release_date.present?) ) %>
  <%= render_thumbnail_tag document %>
<% else %>
 <!-- displays for logged out users on files with embargo/lease -->
 <span class="media-left hidden-xs file_listing_thumbnail mock-thumbnail" ></span>
<% end %>
