<%= link_to [main_app, document], class: 'media-left', 'aria-hidden' => true do %>
  <% if document.thumbnail_id && File.extname(document.thumbnail_path).blank? %>
    <span class="fa fa-file-archive-o fa-5x grey-zip-icon hidden-xs file_listing_thumbnail"></span>
  <% else %>
    <%= render_thumbnail_tag document, { class: 'hidden-xs file_listing_thumbnail' }, { suppress_link: true } %>
  <% end %>
<% end %>
