<tr>
  <th>Related identifier</th>
  <td>
    <% array_of_hash.each do |hash| %>
      <ul class="tabular">
        <li class="attribute related_identifier">
          <% if hash['related_identifier'] %>
            <%= "identifier: #{hash['related_identifier']}" %>,&nbsp;
          <% end %>
        </li>
        <li class="attribute related_identifier_type">
          <% if hash['related_identifier_type'] %>
            <%= "type: #{hash['related_identifier_type']}" %>
          <% end %>
        </li>
        <li class="attribute relation_type">
          <% if hash['related_identifier_type'] %>
            <%= "relation: #{hash['relation_type']}" %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </td>
</tr>