.row .col-xs-12 > header > h1 {
  font-size: 30px;
}

th > span .attribute-label, .h4 {
  font-size: 14px;
  font-weight: bold;
}

.image-masthead .background-container {
  -webkit-filter: none;
  filter: none;
}

.image-masthead .background-container-gradient {
  background: none;
}

.nav, .navbar-nav, .homepage-nav-ul {
  margin: 0px;
}

.nav, .navbar-nav > li > a {
  padding: 8px 5px 7px 0px;
}