.row .col-xs-12 > header > h1 {
  font-size: 30px;
}

th > span .attribute-label, .h4 {
  font-size: 14px;
  font-weight: bold;
}

.image-masthead .background-container {
  -webkit-filter: none;
  filter: none;
}

.image-masthead .background-container-gradient {
  background: none;
}

.nav, .navbar-nav, .homepage-nav-ul {
  margin: 0px;
}

.nav, .navbar-nav > li > a {
  padding: 8px 5px 7px 0px;
}

.mock-thumbnail {
  height: 63px;
  width: 50px;
  padding-left: 105px;
}

.featured-fields {
  margin-bottom: 15px;
}

.featured-item-thumbnail img {
  padding: 1px;
  border-radius: 2px;
  border: 1px solid #bbb;
  height: 180px;
  margin-right: 15px;
  margin-top: 3px;
  object-fit: cover;
  width: 100%;
}

.featured-item {
  padding-top: 3px;
}

.homepage-field-title {
  font-weight: 600;
}

h4, .homepage-nav-tabs {
  margin-top: 30px;
}

.media-heading {
  font-weight: 600;
}

.ubiquity-form-input {
  width: 46%;
}

.ubiquity-date-input {
  display: inline-block;
  width: 30%;
}

.ubiquity_isni_image {
   height: 16;
   width: 44;
   float: left;
}

.ubiquity_orcid_image {
  height: 16;
  width: 16;
  float: left;
}

.search-meta-label {
  width: 33%;
}

.note-body {
  padding-top: 16px;
}

.ubiquity-modal-padding {
  padding: 16px 0px 8px 0px;
}

.shared-layer-logos-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

  .grid-item {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}

.partner-logo {
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

.small-partner-logo {
  width: 90px;
  height: 90px;
  margin-top: 20px;
}

.bl-logo {
  background: image_url("bl-logo.jpg") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  display: block;
}

.mola-logo {
  background: image_url("mola-logo.jpg") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  display: block;
}

.tate-logo {
  background: image_url("tate-logo-black.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  display: block;
}

.nms-logo {
  background: image_url("nms-logo.jpg") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  display: block;
}

.jumbotron .shared-repo-header {
  text-align: left;
  padding-left: 40px;

  h1 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.4em;
  }

}

.jumbotron .shared-repo-text p {
  font-size: 1.2em;
  font-weight: 400;
}

.grey-zip-icon {
  color: $gray;
}

.zip-thumbnail-homepage {
  padding-left: 115px;
  position: relative;
  line-height: 60px;
}
.zip-thumbnail-homepage:before {
  position: absolute;
  font-family: 'FontAwesome';
  left: 30px;
  content: "\f1c6";
  color: $gray;
  font-size: 3em;
}
