.row .col-xs-12 > header > h1 {
  font-size: 30px;
}

th > span .attribute-label, .h4 {
  font-size: 14px;
  font-weight: bold;
}

.image-masthead .background-container {
  -webkit-filter: none;
  filter: none;
}

.image-masthead .background-container-gradient {
  background: none;
}