<div class="batch-info">
  <%= render 'form_for_select_collection', user_collections: @user_collections %>

  <% if params[:action] == "edit" && @response.response['numFound'] > 1 %>
    <div class="batch-toggle">
      <% session[:batch_edit_state] = "on" %>
      <%= button_for_remove_selected_from_collection collection %>
    </div>
  <% end %>
</div>
