<h3>Total Downloads: <%= @total_downloads %></h3>
<br/>
<h3>Downloads per Work</h3>
<ul>
  <% @works_to_display.each do |dwnld| %>
    <li><%= dwnld.title %><span class="count">: <%= dwnld.downloads %></span></li>
  <% end %>
</ul>