

<tr>

 <% array_of_hash = get_model(presenter.model, presenter.id, 'contributor', 'contributor_position') %>
 <% if (array_of_hash.class == Array)  %>
 <th>contributor</th>
   <% array_of_hash.each do |hash| %>
    <% if hash.class != Array %>
      <td style="display:inline">
        <ul class="tabular">
          <li class="attribute contributor">
            <span itemprop="name">
              <%= hash["contributor_given_name"] %>
              (<img src="https://s3.eu-west-2.amazonaws.com/ox-dev/ubi/orcid_16x16.png" alt="orcid"  height="16" width="16" class="img-responsive" >
              <%= hash['contributor_orcid'] %>)
              </span>
            </li>
          </ul>
        </td>
      <% end %> <%#  closes if hash.class %>

      <% end %> <%# closes array_of_hash loop %>

  <% else %>
    <%= presenter.attribute_to_html(:contributor, render_as: :faceted) %>
  <% end %> <%# closes if array_of_hash.class %>
</tr>
