<tr>
 <th>Contributor</th>
 <% array_of_hash.each do |key, value| %>
  <td style="display:inline;">
   <% if key == 'contributor_given_name' %>
   <ul class="tabular">
     <li class="attribute contributor">

      <span style="float:left;">
       <%= array_of_hash["contributor_given_name"].first %>
       <%= array_of_hash["contributor_family_name"].first %>

     </span>
      <span style="float:left;">
        -  <%= array_of_hash["contributor_type"].first %>
      </span>
      <span itemprop="name" style="float:left;">
        <a  href="<%= array_of_hash['contributor_orcid'].first %>"> <img src="https://s3.eu-west-2.amazonaws.com/ox-dev/ubi/orcid_16x16.png" alt="orcid"  height="16" width="16" class="img-responsive"> </a>
      </span>


     </li>
   </ul>
    <% end %>
   </td>
 <% end %>
</tr>
