<!--
 https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/base/_items.html.erb
 and added to shared/ubiquity/works/item
-->
<h2><%= t('.header') %></h2>
<%= render partial: 'shared/ubiquity/works/items', locals: {presenter: presenter} %>
